header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #093D14;
    padding: 1.5vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#logo {
    width: 30vw;
}

.form_ricerca {
    display: flex;
    align-items: center;
}

.form_ricerca form {
    margin-right: 2vw;
}

.form_ricerca input[type="text"], /*pulsantini*/
#ordinamento,
#esporta {
    padding: 0.8vw;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    width: 12vw;
}

.form_ricerca input[type="submit"],
#esporta {
    background-color: #049444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.8vw 1.6vw;
    margin-left: 1vw;
}

table {
    width: 90vw;
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    border-collapse: collapse;
    background-color: #D9D9D9;
}

table, th, td {
    border: 1px solid #777;
}

th, td {
    padding: 1.2vw;
    text-align: center;
}

thead {
    color: #093D14;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D2B467;
    margin-top: 10vh;
}
